<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Finanzas Visual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<!-- Sidebar -->
	        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	            <!-- Sidebar - Brand -->
	            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
					<div class="sidebar-brand-icon">
					    <img src="/img/hormiga.png" alt="Logo Finanzas" style="height: 40px;">
					</div>
	                <div class="sidebar-brand-text mx-3">Finanzas Hormigas <sup>IA</sup></div>
	            </a>

	            <!-- Divider -->
	            <hr class="sidebar-divider my-0">

	            <!-- Nav Item - Dashboard -->
				<li class="nav-item active">
				   <a class="nav-link" th:href="@{/dashboard}">
				       <i class="fas fa-fw fa-tachometer-alt"></i>
				      <span>Dashboard</span>
				   </a>
				 </li>

	            <!-- Divider -->
	            <hr class="sidebar-divider">

	            <!-- Heading -->
	            <div class="sidebar-heading">
	                Cuenta
	            </div>

				<li class="nav-item">
				   <a class="nav-link" href="/cuenta/dashboard">
				     <i class="fas fa-fw fa-table"></i>
				     <span>Transacciones</span>
				   </a>
				 </li>
	            <!-- Divider -->
	            <hr class="sidebar-divider">

	            <!-- Heading -->
	            <div class="sidebar-heading">
	                Consejos
	            </div>

	          
	            <!-- Nav Item - Charts -->
	            <li class="nav-item">
	                <a class="nav-link" href="/tip/dashboard">
	                    <i class="fas fa-fw fa-chart-area"></i>
	                <span>?</span></a>
	            </li>

	        
	            <!-- Divider -->
	            <hr class="sidebar-divider d-none d-md-block">

	            <!-- Sidebar Toggler (Sidebar) -->
	            <div class="text-center d-none d-md-inline">
	                <button class="rounded-circle border-0" id="sidebarToggle"></button>
	            </div>

	        </ul>
	        <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <!-- Header (modularizado) -->
            <div th:replace="components/header :: header"></div>

            <!-- Main Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Bienvenido, <span th:text="${usuario.nombre}">Usuario</span></h1>

                <div class="row">
                    <!-- Pie Chart -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Distribución de Balance</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="balancePieChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bar Chart -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-success">Gastos por Categoría</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="gastoBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Aquí puedes seguir añadiendo más widgets o estadísticas -->
                </div>
            </div>
        </div>

        <!-- Footer (modularizado) -->
        <div th:replace="components/footer :: footer"></div>

    </div>
</div>

<!-- JS Scripts -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script type="module" src="/js/dashboard.js" defer></script>

<!-- Thymeleaf JS Data -->
<script th:inline="javascript">
    let categoriasData = /*[[${gastoCategorias.keySet()}]]*/ [];
    let gastosData = /*[[${gastoCategorias.values()}]]*/ [];
    let ingresoData = /*[[${cuenta.ingreso}]]*/ 0;
    let gastoTotalData = /*[[${totalGastos}]]*/ 0;
    let fechas = /*[[${fechas}]]*/ [];
    let ingresosPorDia = /*[[${ingresosPorDia}]]*/ [];
    let gastosPorDia = /*[[${gastosPorDia}]]*/ [];
</script>
</body>
</html>
